{% extends "base.html" %}

{% block content %}
<h2 align="center"> Войти в систему </h2>
<form align="center" method="post" action="{% url 'login' %}">
{% csrf_token %}
<table align="center">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти">
</form>
<p align="center"><button> <a href="/sign/signup"> Регистрация </a></button></p>
{% endblock %}