<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
<!-- Название у нас будет Post -->
{% block title %}
{{ post.title | truncatewords:2 }}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.title | censor }}</h1>
<p>{{ post.content | censor }}</p>
<h6>Дата публикации - {{ post.time_in | date:'d.m.Y' }}</h6>
{% endblock content %}